body {
    background-color: #4e4e4e;
    color: #ffffff;
    font-family: Arial;
}

h1 {
    font-size: 65px;
}

button {
    background-color: #2e2e2e;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.contents {
    background-color: #2e2e2e;
    padding: 15px;
    overflow-y: auto;
}

.topbar {
    background-color: #2e2e2e;
    font-family: Arial;
    overflow: hidden;}

.topbar a {
    color: #ffffff;
    padding: 20px 20px;
    text-align: left;
    float: left;
    text-decoration: none;
    font-size: 25px;
}
  
.topbar a:hover {
    background-color: #616161;
}